@font-face {
    src: url(f/Roboto-Regular.ttf);
    font-family: def;
}
@font-face {
    src: url(f/Roboto-Light.ttf);
    font-family: light;
}
@font-face {
    src: url(f/Roboto-Bold.ttf);
    font-family: thick;
}
* {
    transition-property: opacity, top;
    transition-duration: 0.3s;
    font-family: def;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    color: #FFF
}
#gcc {
    width: 100%;
    max-height: 100%;
    position: fixed;
    top: 70px;
    background: #FFF;
    transition: top 0.3s ease;
    text-align: center;
}
#gamecontainer {
    padding: 10px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    overflow-y: auto;
}
#gamecontainer:after {
    content: "";
    background: #FFF url(arrow.svg) no-repeat center;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 100%;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
header {
    z-index: 1;
    text-align: center;
    position: fixed;
    left: 0px;
    right: 0px;
    height: 70px;
    top: 0px !important;
    background: #444;
    line-height: 70px;
    font-family: thick;
    font-size: 32px;
}
#new {
    display: inline-block;
    margin: 10px;
    background: #48947f;
    height: 50px;
    width: calc(100% - 20px);
    border-radius: 5px;
    max-width: 980px;
    line-height: 50px;
}
#usr {
    font-size: 18px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 30px;
    right: 30px;
    line-height: 30px;
    float: right;
    margin: auto;
    display: inline-block
}
#usr:before {
    font-size: 18px;
    content: "Welcome:";
    position: relative;
    left: -3px;
    display: inline-block;
    font-family: light;
}
section {
    overflow: hidden;
    text-align: left;
    border: 10px solid #FFF;
    display: inline-block;
    width: 500px;
    background: #99abbb;
    border-radius: 15px;
    max-width: calc(100%);
}
section > div {
    transition-duration: 0.15s;
    width: 100%;
    color: #333;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.3);
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
}
section > div:hover {
    background: rgba(255, 255, 255, 0.4)
}
.join {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: #657484;
}
.pop {
    color: #000;
    top: 50px;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: -3;
    background: #FFF;
    max-width: 600px;
    width: 80vw;
    left: 0px;
    right: 0px;
    margin: 60px auto;
    opacity: 0;
}
.pop * {
    color: #000;
}
.pop > * {
    margin: 7px 0px;
}
#setup > input[type="text"] {
    background: #EEE;
    text-indent: 17px;
    height: 50px;
    width: 100%;
}
.close {
    display: inline-block;
    margin: 0px;
    position: absolute;
    background: url(close.svg) no-repeat;
    background-position: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
#cover {
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: -2;
}
#creategame {
    background: #48947f;
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: #FFF;
}
ol {
    text-align: left;
}
h2 {
    margin-bottom: 30px;
}
#rulesbutton {
    position: absolute;
    left: 30px;
    top: 0px;
    bottom: 0px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 0px;
    border-radius: 50%;
    background: #000;
    font-family: thick;
    font-size: 18px;
}