@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: def;
}
@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: light;
}
@font-face {
    src: url(fonts/Roboto-Bold.ttf);
    font-family: thick;
}
html {
    background: #F7F8FA
}
* {
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: def;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    color: #FFF
}
#gcc {
    top: 70px;
    text-align: center;
    width: 100%;
    max-height: calc(100% - 70px);
    position: fixed;
}
#gamecontainer {
    height: calc(100vh - 120px);
    padding: 10px;
    overflow-y: auto;
}
#slide {
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    transform: rotate(0deg);
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    background: #FFF;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
#hs {
    box-shadow: 0px -10px 10px #F7F8FA;
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}
#usr:before{
    content:"Welcome:";
    position:relative;
    left:-3px;
    width:300px;
    text-align:right;
    font-family:light
}
#new {
    display: inline-block;
    margin: 10px;
    background: #48947f;
    height: 50px;
    width: calc(100% - 20px);
    border-radius: 5px;
    max-width: 1020px;
    line-height: 50px;
}
section {
    height: 140px;
    overflow: hidden;
    text-align: left;
    margin: 10px;
    display: inline-block;
    width: 500px;
    background: #707d8a;
    border-radius: 3px;
    max-width: calc(100% - 20px);
}
section > div {
    word-break: break-all;
    transition-duration: 0.15s;
    width: 100%;
    bottom: 0px;
    height: 50px;
    line-height: 50px;
}
section > div:hover {
    background: rgba(255, 255, 255, 0.1)
}
.join {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 14px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.3);
}
.join:hover {
    background: rgba(0, 0, 0, 0.5);
}
.opp:before,
.team:before {
    margin-right: 15px;
    padding: 0px 20px;
    background: rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100px;
}
.opp:before {
    content: "Opponents"
}
.team:before {
    content: "Team"
}
.spectate > .team:before {
    content: "Red";
    width: 50px;
}
.spectate > .opp:before {
    content: "Blue";
    width: 50px;
}
.pop {
    color: #000;
    top: 50px;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: -3;
    background: #FFF;
    max-width: 600px;
    width: 80vw;
    left: 0px;
    right: 0px;
    margin: 60px auto;
    opacity: 0;
}
.pop * {
    color: #000;
}
.pop > * {
    margin: 7px 0px;
}
#setup > input[type="text"] {
    text-indent: 17px;
    height: 50px;
    width: 100%;
}
#setup {
    line-height: 30px;
}
.close {
    display: inline-block;
    margin: 0px;
    position: absolute;
    background: url(close.svg) no-repeat;
    background-position: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
#cover {
    background: rgba(100, 100, 100, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: -2;
}
#creategame {
    background: #48947f;
    height: 60px;
    width: 100%;
    font-size: 20px;
    color: #FFF;
}
#creategame:hover,
#new:hover {
    background: #3d7e6c;
}
ol {
    text-align: left;
}
h2 {
    margin-bottom: 30px;
}
.finished {
    background: #614d4d
}
[name="blue"] {
    background: #e7f5ff;
}
[name="red"] {
    background: #ffe7e7;
}
#sred,
#sblue {
    border-radius: 50%;
    display: inline-block;
    margin: 0px 3px;
    width: 15px;
    height: 15px;
}