@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: def;
}
@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: light;
}
@font-face {
    src: url(fonts/Roboto-BoldCondensed.ttf);
    font-family: thick;
}
* {
    overflow: hidden;
    transition-property: opacity;
    transition: all 0.3s ease;
    font-family: def;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    color: #FFF
}
#redTeam, #blueTeam{
    width: 200px;
    max-width: 50%;
    padding: 7px 0px;
}
#redTeam{
    background: #ffe7e7;
    float: left;
    padding-left: 8px;
    border-left: 4px solid #FF0000;
    border-bottom-right-radius: 10px;
}
#blueTeam{
    background: #e7e7ff;
    float: right;
    padding-right: 8px;
    text-align: right;
    border-right: 4px solid #0000FF;
    border-bottom-left-radius: 10px;
}
#blueTeam > span, #redTeam > span {
    display: inline-block;
    width: 100%;
    color: #000;
}
#blueTeam > span {
}
#redTeam > span {
}
#teamcontainer{
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 70px;
}
#board {
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 500px;
    width: 500px;
    margin: auto;
}
.square {
    position: relative;
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    float: left;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    overflow: visible;
}
.word,.role {
    box-shadow: 0px 3px 5px #AAA;
    font-size: 25px;
    line-height: 230px;
    color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
   	backface-visibility: hidden;
    transition-duration: 1s;
    text-align: center;
    border-radius: 10px;
}
.word {
    background: #EEE;
}
.word:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    border: 3px solid #CCC;
}
.role {
    background: #F8F8F8;
    transform: rotateY(180deg);
}
#spectating {
    background: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#masterv {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    height: 300px;
    width: 300px;
}
#masterv > div {
    float: left;
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #AAA;
}
.red {
    background: #E80E26;
    background-image: url(spy2.png);
    background-size: contain;
}
.blue {
    background: #006BE8;
    background-image: url(spy2.png);
    background-size: contain;
}
.assassin {
    background: #666;
    background-image: url(assassin.png);
    background-size: contain;
}
.bystander {
    background: #ffe9c0;
}
.role:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.3);
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 20px;
}
.role.assassin:after {
    content: "Assassin";
}
.role.red:after {
    content: "Red";
}
.role.blue:after {
    content: "Blue";
}
.role.bystander:after {
    content: "Bystander";
}