@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: def;
}
@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: light;
}
@font-face {
    src: url(fonts/Roboto-Bold.ttf);
    font-family: thick;
}
html {
    background: #F7F8FA
}
* {
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: def;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    color: #FFF
}
#gcc {
    top: 70px;
    text-align: center;
    width: 100%;
    max-height: calc(100% - 70px);
    position: fixed;
}
#usr:before{
    content:"Welcome:";
    position:relative;
    left:-3px;
    width:300px;
    text-align:right;
    font-family:light
}