@font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: def;
}
@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: light;
}
@font-face {
    src: url(fonts/Roboto-Bold.ttf);
    font-family: thick;
}
html {
    background: #F7F8FA
}
* {
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: def;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0px;
    color: #FFF
}
#gcc {
    top: 70px;
    text-align: center;
    width: 100%;
    max-height: calc(100% - 70px);
    position: fixed;
}
#usr:before{
    content:"Welcome:";
    position:relative;
    left:-3px;
    width:300px;
    text-align:right;
    font-family:light
}
#firebaseui-auth-container{
    width: 300px;
    margin: 0 auto;
    top: 40%;
    background: red;
    align: center;
}

#outer{
    width:100%;
    height:100%;
    position:absolute;
    display:table;
}
#middle{
    display:table-cell;
    vertical-align: middle;
}
#registration{
    width: 20%;
    margin: 0 auto;
    top: 40%;
    background: #AFAFAF;
    align: center;
    border-radius: 5px;
    border: black 2px solid;
}
#register:hover,#login:hover{
    background: #9E9E9E;
}
#register, #login{
    border: 1px solid black;
}
.fields{
    color: black;
}
#loginContainer{
position:relative;
    width:100%;
    background: #8C001A;
    text-align: center;
    transition: 0s;
}
#loginContainer:hover{
    background: #bf0023;
}

#signupContainer{
position:relative;
    width:100%;
    background: #7fcaff;
    text-align: center;

}
#signupContainer:hover{
    background: #4ce2ff;
}